/*
Theme Name: NextNet
Theme URI: http://www.nxt.com.br
Author: Nurimba
Author URI: http://nurimba.com.br
Description: Site desenvolvido por Nurimba - Grupo de desenvolvedores criativos
Version: 1.0

*/


/*
Required WordPress CSS
*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.bypostauthor {
}
.gallery-caption {
}
.sticky {
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
